Gmail-to-Telegram/TG Notifications Clients.json
{
  "name": "TG Notifications Clients",
  "nodes": [
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "472124645",
        "message": "=⚠️ Error parse email!\n\n{{ $('Code').item.json.errorMessage }}\n\nInput missing value:",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "=name:",
              "defaultValue": "={{ $('Code').item.json.name }}"
            },
            {
              "fieldLabel": "=sender:",
              "defaultValue": "={{ $('Code').item.json.sender }}"
            },
            {
              "fieldLabel": "=amount:",
              "defaultValue": "={{ $('Code').item.json.amount }}"
            },
            {
              "fieldLabel": "=transactionId:",
              "defaultValue": "={{ $('Code').item.json.transactionId }}"
            },
            {
              "fieldLabel": "=date:",
              "defaultValue": "={{ $('Code').item.json.date }}"
            },
            {
              "fieldLabel": "email:",
              "defaultValue": "={{ $('Code').item.json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -80,
        512
      ],
      "id": "c1354b68-8ac4-41e1-823a-591ac7ff7376",
      "name": "Telegram",
      "webhookId": "82309ff2-d0f6-49bf-9631-e6104c84194c",
      "credentials": {
        "telegramApi": {
          "id": "j2xih7F1P086Grw8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/*****************/sendMessage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.Tg_ID }}"
            },
            {
              "name": "=text",
              "value": "=📧 New Email to <code>{{ $('Code').item.json.email }}</code>\nHello, <code>{{ $('Code').item.json.name }}</code>\nAccept your <code>{{ $('Code').item.json.amount }}</code> from <code>{{ $('Code').item.json.sender }}</code>\nTransaction ID: <code>{{ $('Code').item.json.transactionId }}</code>\nTransaction date: <code>{{ $('Code').item.json.date }}</code>\n<a href=\"https://n8n.daniilink.com/webhook/email-screenshot?messageId={{ $('Code').item.json.gmailId }}\">Screenshot PNG🧾</a>"
            },
            {
              "name": "parse_mode",
              "value": "html"
            },
            {
              "name": "disable_web_page_preview",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        912,
        288
      ],
      "id": "1f18c28a-f583-41d2-85c9-a9a2d38f3239",
      "name": "Send Telegram Notification",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/*****************/sendMessage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Get row(s) fallback').item.json.Tg_ID }}"
            },
            {
              "name": "=text",
              "value": "=📧 New Email to <code>{{ $('Telegram').item.json.data['email:'] }}</code>\nHello, <code>{{ $('Telegram').item.json.data['name:'] }}</code>\nAccept your <code>{{ $('Telegram').item.json.data['amount:'] }}</code> from <code>{{ $('Telegram').item.json.data['sender:'] }}</code>\nTransaction ID: <code>{{ $('Telegram').item.json.data['transactionId:'] }}</code>\nTransaction date: <code>{{ $('Telegram').item.json.data['date:'] }}</code>\n<a href=\"https://n8n.daniilink.com/webhook/email-screenshot?messageId={{ $('Code').item.json.gmailId }}\">Screenshot PNG🧾</a>"
            },
            {
              "name": "parse_mode",
              "value": "html"
            },
            {
              "name": "disable_web_page_preview",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        512
      ],
      "id": "e22c39b7-8d02-4faf-a41e-81f12af19518",
      "name": "Send Telegram Notification1",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "96614c86-6578-4baa-899b-678b4bc58407",
              "leftValue": "={{ $json.errorMessage }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        368
      ],
      "id": "28424441-0e2a-433b-a7cb-50ca9f4a4f58",
      "name": "If error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c8775324-567b-46cb-b864-0f0ed4aec770",
              "leftValue": "={{ $json.Tg_ID }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "893da26c-666b-4efb-954f-0c6e9acdf9fd",
              "leftValue": "={{ $json.Emails }}",
              "rightValue": "={{ $('Webhook').item.json.body.recipientEmail }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        288
      ],
      "id": "3ded209b-ac59-4ad3-a6ae-6c53723e09c9",
      "name": "Id Client"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c8775324-567b-46cb-b864-0f0ed4aec770",
              "leftValue": "={{ $('Get row(s) fallback').item.json.ID }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        512
      ],
      "id": "9223de25-64e2-4e8c-a358-6107e21b46bc",
      "name": "Id Client1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/*****************/sendMessage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Get row(s) fallback').item.json.ID }}"
            },
            {
              "name": "=text",
              "value": "=📧 New Email to <code>{{ $('Code').item.json.email }}</code>\nHello, <code>{{ $('Code').item.json.name }}</code>\nAccept your <code>{{ $('Code').item.json.amount }}</code> from <code>{{ $('Code').item.json.sender }}</code>\nTransaction ID: <code>{{ $('Code').item.json.transactionId }}</code>\nTransaction date: <code>{{ $('Code').item.json.date }}</code>\n<a href=\"https://n8n.daniilink.com/webhook/email-screenshot?messageId={{ $('Code').item.json.gmailId }}\">Screenshot PNG🧾</a>"
            },
            {
              "name": "parse_mode",
              "value": "html"
            },
            {
              "name": "disable_web_page_preview",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        560
      ],
      "id": "1eebb1ae-e493-4ea3-b523-b8996ef8f4d3",
      "name": "Send Telegram Notification3",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/*****************/sendMessage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Get row(s) in sheet1').item.json.ID }}"
            },
            {
              "name": "=text",
              "value": "=📧 New Email to <code>{{ $('Code').item.json.email }}</code>\nHello, <code>{{ $('Code').item.json.name }}</code>\nAccept your <code>{{ $('Code').item.json.amount }}</code> from <code>{{ $('Code').item.json.sender }}</code>\nTransaction ID: <code>{{ $('Code').item.json.transactionId }}</code>\nTransaction date: <code>{{ $('Code').item.json.date }}</code>\n<a href=\"https://n8n.daniilink.com/webhook/email-screenshot?messageId={{ $('Gmail Trigger').first().json.id }}\">Screenshot PNG🧾</a>"
            },
            {
              "name": "parse_mode",
              "value": "html"
            },
            {
              "name": "disable_web_page_preview",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        576
      ],
      "id": "2a85e021-c65f-4fea-b3e5-fc416012e666",
      "name": "Send Telegram Notification4",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "cfzbYv522RWod5hb",
          "mode": "list",
          "cachedResultName": "data table",
          "cachedResultUrl": "/projects/6Yxt97mRVorrsJ7i/datatables/cfzbYv522RWod5hb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('If error').item.json.name }}",
            "amount": "={{ $('If error').item.json.amount }}",
            "sender": "={{ $('If error').item.json.sender }}",
            "transactionId": "={{ $('If error').item.json.transactionId }}",
            "email": "={{ $('If error').item.json.email }}",
            "date": "={{ $('Code').item.json.date }}",
            "Client": "=@{{ $('Send Telegram Notification').item.json.result.chat.username }}",
            "TimeToProceed": "={{ $('TimeToProceed').item.json.duration }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sender",
              "displayName": "sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "transactionId",
              "displayName": "transactionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TimeToProceed",
              "displayName": "TimeToProceed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1360,
        240
      ],
      "id": "65bf1b43-e3a9-475c-ae3a-f7a83cff5b99",
      "name": "Insert row",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "**Monitors only new email with specific label.**\n*every 1 min*\n*webhook push from Google Apps Script*",
        "height": 112,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -688,
        224
      ],
      "id": "9a38e6b6-0aba-4b89-b1cd-383090af0b4a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Extracts necessary objects from raw Email.\nIf not find - return error for this object to input manually",
        "height": 144,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        176
      ],
      "id": "975ad6a0-d44c-4c2d-932f-2432f1fe97f3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Validates the parsing results; if any objects(like amount or email) are missing, it routes to input only error objects manually.",
        "height": 128,
        "width": 198,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -256,
        208
      ],
      "id": "5f6917b0-08b5-4c9e-9d3d-4071c1f2fd07",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Searches the \"Clients\" tab in the DataBase to find a matching row based on the extracted email address",
        "height": 144,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        432,
        128
      ],
      "id": "9cce25ea-e8b7-4348-9358-46d70e8710ef",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "If the automated parser fails, sends a custom form to the admin to manually enter missed objects.",
        "height": 128,
        "width": 160,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        544
      ],
      "id": "29f2fa86-f40f-4439-8afa-46be661ab193",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "cfzbYv522RWod5hb",
          "mode": "list",
          "cachedResultName": "data table",
          "cachedResultUrl": "/projects/6Yxt97mRVorrsJ7i/datatables/cfzbYv522RWod5hb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('Id Client1').item.json.data['name:'] }}",
            "amount": "={{ $('Id Client1').item.json.data['amount:'] }}",
            "sender": "={{ $('Id Client1').item.json.data['sender:'] }}",
            "transactionId": "={{ $('Id Client1').item.json.data['transactionId:'] }}",
            "email": "={{ $('Id Client1').item.json.data['email:'] }}",
            "date": "={{ $('Code').item.json.date }}",
            "Client": "=@{{ $json.result.chat.username }}",
            "TelegramId": "={{ $json.result.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sender",
              "displayName": "sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "transactionId",
              "displayName": "transactionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TelegramId",
              "displayName": "TelegramId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1264,
        512
      ],
      "id": "73e52cb7-131e-4d87-bc0a-b7e3e471c218",
      "name": "Insert row with manual input",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "Insert to Any DataBase\\CRM",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        144
      ],
      "id": "ac1a4e92-687f-4004-87cb-349af574425e",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "Actually sends parsed and formatted notification to client",
        "height": 112,
        "width": 150,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        896,
        160
      ],
      "id": "62d15d9f-f181-45b3-a3f7-285cc5ba5e62",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "Fallback",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        384
      ],
      "id": "745c212b-3ed8-4c16-aa2a-30b4e4823bb0",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "y9sXd9JNXAIYXMaB",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "/projects/6Yxt97mRVorrsJ7i/datatables/y9sXd9JNXAIYXMaB"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        464,
        288
      ],
      "id": "23d235a5-6d42-4d35-8f75-1ae29987b7f3",
      "name": "Get row(s)",
      "retryOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "incomes",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -656,
        368
      ],
      "id": "02af2063-41a8-4a62-979c-1998221541d2",
      "name": "Webhook",
      "webhookId": "bbf18b99-e5d1-4249-b5cd-3a3628dd17a1"
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные, которые пришли из Webhook (Apps Script)\nconst inputData = $input.item.json.body;\n\n// 1. Формируем красивую сумму со значком (например, $190.00 USD)\nlet amountFormatted = null;\nif (inputData.amount && inputData.currency) {\n  let symbol = \"\";\n  if (inputData.currency === 'USD') symbol = \"$\";\n  else if (inputData.currency === 'EUR') symbol = \"€\";\n  else if (inputData.currency === 'GBP') symbol = \"£\";\n  \n  // Если валюта другая, символ оставим пустым или добавим логику\n  amountFormatted = `${symbol}${inputData.amount} ${inputData.currency}`;\n}\n\n// 2. Формируем красивую дату (27.01.2026 17:44:01 -> 27 January 2026 at 17:44:01)\nlet formattedDate = null;\nif (inputData.date) {\n  // Разбиваем строку \"27.01.2026 17:44:01\"\n  const parts = inputData.date.split(' '); // [\"27.01.2026\", \"17:44:01\"]\n  if (parts.length === 2) {\n    const dateParts = parts[0].split('.'); // [\"27\", \"01\", \"2026\"]\n    const timePart = parts[1];\n    \n    if (dateParts.length === 3) {\n      const day = parseInt(dateParts[0], 10);\n      const monthIndex = parseInt(dateParts[1], 10) - 1; // Месяцы в JS от 0 до 11\n      const year = dateParts[2];\n      \n      const monthNames = [\n        \"January\", \"February\", \"March\", \"April\", \"May\", \"June\",\n        \"July\", \"August\", \"September\", \"October\", \"November\", \"December\"\n      ];\n      \n      const monthName = monthNames[monthIndex];\n      formattedDate = `${day} ${monthName} ${year} at ${timePart}`;\n    }\n  }\n}\n\n// 3. Собираем данные\nconst recipientName = inputData.recipientName || null;\nconst sender = inputData.sender || null;\nconst transactionId = inputData.transactionId || null;\nconst email = inputData.recipientEmail || null;\n// В пришедшем вебхуке gmailId не было в примере, но если ты добавишь его в скрипт, он появится здесь.\n// Пока ставим null или берем из body, если он там появится.\nconst gmailId = inputData.gmailId || null; \n\n// 4. ПРОВЕРКИ (сохраняем твою логику ошибок)\nconst errors = [];\nif (!recipientName) errors.push(\"name:\");\nif (!sender) errors.push(\"sender:\");\nif (!amountFormatted) errors.push(\"amount:\");\nif (!transactionId) errors.push(\"txID:\");\nif (!formattedDate) errors.push(\"date:\");\nif (!email) errors.push(\"email:\");\n\nconst isComplete = errors.length === 0;\n\n// 5. Возвращаем результат в нужном формате\nreturn {\n  name: recipientName,\n  sender: sender,\n  amount: amountFormatted,\n  transactionId: transactionId,\n  date: formattedDate,\n  email: email,\n  gmailId: gmailId,\n  isComplete: isComplete,\n  errors: errors,\n  errorMessage: errors.join(\"\\n\")\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        368
      ],
      "id": "60f93e54-dcec-417c-b0ed-38d3a01dee48",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "y9sXd9JNXAIYXMaB",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "/projects/6Yxt97mRVorrsJ7i/datatables/y9sXd9JNXAIYXMaB"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        144,
        512
      ],
      "id": "ace368f9-737a-48c9-b834-c04385727fb6",
      "name": "Get row(s) fallback",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ВАЖНО: Этот скрипт будет работать правильно, ТОЛЬКО если \n// в Docker-compose прописан TZ=Europe/Kyiv\n// Он считает, что и дата в письме, и время сервера — находятся в ОДНОМ часовом поясе.\n\nconst sourceNodeName = 'Webhook'; \n\ntry {\n  // 1. Проверяем вход\n  if (!$(sourceNodeName).first()) {\n    throw new Error(`Нода \"${sourceNodeName}\" не найдена.`);\n  }\n\n  const item = $(sourceNodeName).first();\n  const json = item.json;\n  const body = json.body || {};\n  \n  // 2. Ищем дату\n  let rawDate = body.date || json.date || body.timestamp || body.time;\n  if (!rawDate) throw new Error(\"Дата не найдена\");\n  rawDate = rawDate.toString(); \n\n  // 3. ПАРСИНГ (Без указания зоны — берем системную зону n8n)\n  // DateTime.fromFormat сам поймет, что это \"местное\" время сервера\n  let startTime = DateTime.fromFormat(rawDate, 'dd.MM.yyyy HH:mm:ss');\n\n  if (!startTime.isValid) {\n     // Если вдруг формат другой (ISO), пробуем его\n     startTime = DateTime.fromISO(rawDate);\n  }\n\n  // 4. Текущее время (системное время сервера)\n  const endTime = DateTime.now();\n\n  // 5. Считаем разницу\n  const diff = endTime.diff(startTime, ['minutes', 'seconds']).toObject();\n  \n  // Math.abs используем, чтобы не было минусов, если время сервера чуть отстало\n  const minutes = Math.floor(Math.abs(diff.minutes || 0));\n  const seconds = Math.floor(Math.abs(diff.seconds || 0));\n\n  const resultString = `${minutes}:${seconds.toString().padStart(2, '0')}`;\n\n  return {\n    json: {\n      duration: resultString,\n      debug: {\n        input_date: rawDate,\n        parsed_start: startTime.toString(), // Время письма (как понял сервер)\n        server_now: endTime.toString()      // Время \"сейчас\"\n      }\n    }\n  };\n\n} catch (error) {\n  return { json: { error: error.message } };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        240
      ],
      "id": "b7efb18e-8cb5-4e6a-a441-8595f26cceaf",
      "name": "TimeToProceed"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ce4eed9f-1060-4367-b116-f1016b4ef8bf",
              "leftValue": "={{ $json.transactionId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        288
      ],
      "id": "b93db892-54e8-48b9-ae5c-a8ca0a7c436c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "cfzbYv522RWod5hb",
          "mode": "list",
          "cachedResultName": "TelegramNotificationsData",
          "cachedResultUrl": "/projects/6Yxt97mRVorrsJ7i/datatables/cfzbYv522RWod5hb"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "transactionId",
              "keyValue": "={{ $('Webhook').item.json.body.transactionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        16,
        288
      ],
      "id": "7ee9f891-bc86-404e-96e0-59604642e9a6",
      "name": "Unique Transaction",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "Check unique parameter to prevent duplicates. If txn_id already exist workflow will not continue",
        "height": 80,
        "width": 294
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "c1b0354a-ca63-4b5b-927a-d583a86fc74c",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "Validating input",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        656,
        192
      ],
      "id": "b9494675-4650-4e5c-a1fb-fc5dbe2a6bc0",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "keep-alive",
            "host": "n8n.daniilink.com",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "192.168.88.1",
            "x-real-ip": "192.168.88.1",
            "content-length": "272",
            "content-type": "application/json",
            "user-agent": "Mozilla/5.0 (compatible; Google-Apps-Script; beanserver; +https://script.google.com; id: UAEmdDd_Tj_1OiRVBqJWcBPGkcVV6tvR3JQ)",
            "accept-encoding": "gzip, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "transactionId": "9G101585PN777811P",
            "amount": "190.00",
            "currency": "USD",
            "sender": "Vladyslav Zhukovskyi",
            "recipientName": "Ruslana Zakovorotna",
            "recipientEmail": "zakovorotnarus@inbox.lv",
            "date": "31.01.2026 13:56:10",
            "subject": "You've got money",
            "gmailId": "19c13e926f61e83c"
          },
          "webhookUrl": "https://n8n.yourdomain.com/webhook",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Telegram": {
      "main": [
        [
          {
            "node": "Get row(s) fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Notification": {
      "main": [
        [
          {
            "node": "TimeToProceed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TimeToProceed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Notification1": {
      "main": [
        [
          {
            "node": "Insert row with manual input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Telegram Notification3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If error": {
      "main": [
        [
          {
            "node": "Unique Transaction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Id Client": {
      "main": [
        [
          {
            "node": "Send Telegram Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Id Client1": {
      "main": [
        [
          {
            "node": "Send Telegram Notification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Notification3": {
      "main": [
        [
          {
            "node": "Insert row with manual input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Telegram Notification4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Notification4": {
      "main": [
        [
          {
            "node": "Insert row with manual input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Id Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) fallback": {
      "main": [
        [
          {
            "node": "Id Client1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TimeToProceed": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unique Transaction": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Kyiv",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "YqiIUFP0P9OeeNt8"
  },
  "versionId": "2c4e5491-9791-47a5-9945-199d9b6402cb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af95bafb77460a39a122b216b66473d6e1c59ced66c3bba1da34b6e626756ee1"
  },
  "id": "Gu0yEj4wOShAXwti",
  "tags": []
}